/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Hodurah", sans-serif; */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Fontes */
@font-face {
    font-family: "Hodurah";
    src: url(./fonts/hodurah.otf);
}
@font-face {
    font-family: "Apercu";
    font-weight: bold;
    src: url(./fonts/apercu_bold_pro.otf);
}
@font-face {
    font-family: "Apercu";
    font-weight: normal;
    src: url(./fonts/apercu_regular_pro.otf);
}

/* Text Size */
* {
    font-weight: normal;
}
.bold {
    font-weight: bold;
}

/* Apercu */

h2 {
    font-family: "Apercu", sans-serif;
    font-size: 80px;
}
h6 {
    font-family: "Apercu", sans-serif;
    font-size: 24px;
}
p {
    font-family: "Apercu", sans-serif;
    font-size: 18px;
}
p .aditional-txt {
    font-family: "Apercu", sans-serif;
    font-size: 16px;
}

/* Hodurah */
h1 {
    font-family: "Hodurah", sans-serif;
    font-size: 80px;
}
h3 {
    font-family: "Hodurah", sans-serif;
    font-size: 48px;
}
h4 {
    font-family: "Hodurah", sans-serif;
    font-size: 32px;
}
h5 {
    font-family: "Hodurah", sans-serif;
    font-size: 24px;
}

/* Cores var */
:root {
  --deep-forest: #075D44;
  --wild-orchid: #FFC5EE;
  --soft-mist: #E6E8EC;
  --forest-sage: #71A888;
  --onyx: #151515;
}

.txt-deep-forest {
    color: var(--deep-forest);
}
.txt-wild-orchid {
    color: var(--wild-orchid);
}
.txt-soft-mist{
    color: var(--soft-mist);
}
.txt-forest-sage {
    color: var(--forest-sage);
}
.txt-onyx {
    color: var(--onyx);
}

.bckg-deep-forest {
    background-color: var(--deep-forest);
}
.bckg-wild-orchid {
    background-color: var(--wild-orchid);
}
.bckg-soft-mist{
    background-color: var(--soft-mist);
}
.bckg-forest-sage {
    background-color: var(--forest-sage);
}
.bckg-onyx {
    background-color: var(--onyx-);
}
.bckg-white {
    background-color: white;
}

/* Gerais */
.btn {
    border: none;
}

.rounded {
    border-radius: 20px;
}

/* START */
.first {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    background-color: #151515;
}

.first .top {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.first .top .left {
    background-image: url(https://media.gettyimages.com/id/474690025/pt/foto/crian%C3%A7as-no-jardim-zool%C3%B3gico-de-alimenta%C3%A7%C3%A3o-girafa.jpg?s=612x612&w=gi&k=20&c=_vSs_1S2eS7p_7S81xCptL6JuMTRp-EG8kKE6c7421c=);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-right: 2rem;

}

.first .top .left .content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 40%;
}

.first .top .right {
    width: 25%;
}
